* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Oswald, "Open Sans";
}

body {
    display: flex; 
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
}

.grey-column1 {
    background-color: rgb(242, 242, 242);
    order: 1;
    width: 10%;
    height: auto;
    
}

.grey-column2 {
    background-color: rgb(242, 242, 242)	;
    order: 3;
    width: 10%;
    height: auto;
}

main {
    order: 2;
    width: 80%;
}

header {
    border-bottom: 2px groove rgb(87, 238, 238);
    background-color: rgb(25, 62, 115);
    padding: 30px 50px 30px 50px;
}

h1 {
    color: white;
}

h2 {
    padding: 10px 0 10px 20px;
}

div > p {
    padding: 10px 0 10px 20px;
}

.wrapper {
    width: 85%;
    order: 2
}

.padding-wrapper {
    margin: 0 30px 0 30px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-area {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 237, 238);
    justify-content: space-between;
}

.option-title {
    padding: 20px 0 15px 20px;
}

.option-card {
    align-content: flex-start;
    width: 200px;
    list-style: none;
    padding: 0 0 10px 10px;
}

.adoptees {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.adoptees-card {
    min-width: 200px;
    max-width: 300px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}

.tags {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.tags p {
    border-radius: 30px; 
    background-color: lightblue;
    padding: 0 4px;
    margin: 3px;
    flex: 0 0 auto;
}

.doggos {
    width: 100%;
}

.hvs-img {
    height: 200px;
}

footer {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100%
}

.donate { 
    background: linear-gradient(rgba(163, 167, 237, 0.5), rgba(163, 167, 237, 0.5)), url('starter_files/images/donate.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: white;
    width: 400px;
    height: 300px;
}

.volunteer {
    background: linear-gradient(rgba(163, 167, 237, 0.5), rgba(163, 167, 237, 0.5)), url('starter_files/images/volunteer.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: white;
    width: 400px;
    height: 300px;
}

.location {
    background: linear-gradient(rgba(163, 167, 237, 0.5), rgba(163, 167, 237, 0.5)), url('starter_files/images/location.png') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: white;
    width: 400px;
    height: 300px;
}